requests==2.32.3; python_version > '3.7'
bs4==0.0.2; python_version > '3.7'
lxml==5.4.0; python_version > '3.7'
requests~=2.24.0; python_version <= '3.7'
bs4~=0.0.1; python_version <= '3.7'
lxml~=5.2.1; python_version <= '3.7'
